<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <table border="0">
  <tr>
  <th><%= image_tag("pic1.png", :alt => "Work App") %></th>
  <th><%= image_tag("pic2.png", :alt => "Work App") %></th>
  <th><%= image_tag("pic3.png", :alt => "Work App") %></th>
  <th><%= image_tag("pic4.png", :alt => "Work App") %></a></th>
  <th><%= image_tag("pic5.png", :alt => "Work App") %></th>
  </tr>
  <tr>
    <th>Pic 1</th>
    <th>Pic 2</th>
    <th>Pic 3</th>
    <th>Pic 4</th>
    <th>Pic 5</th>
  </tr>
  </table>
  
  <div class="form_row1">
    <label for="f.pic">Avatar:</label>
    <br><%= f.radio_button :pic, 'pic1.png' %> <b>Pic 1</b>
    <br><%= f.radio_button :pic, 'pic2.png' %> <b>Pic 2</b>
    <br><%= f.radio_button :pic, 'pic3.png' %> <b>Pic 3</b>
    <br><%= f.radio_button :pic, 'pic4.png' %> <b>Pic 4</b>
    <br><%= f.radio_button :pic, 'pic5.png' %> <b>Pic 5</b>
  </div>
  <p><p><p><p>
  <div class="form_row2">
    <label for="f.style">Layout:</label>
    <br><%= f.radio_button 'style', 'custom1.css' %> <b>Red-Purple</b>
    <br><%= f.radio_button 'style', 'custom2.css' %> <b>Yellow-Purple</b>
    <br><%= f.radio_button 'style', 'custom3.css' %> <b>Blue</b>
    <br><%= f.radio_button 'style', 'custom4.css' %> <b>Red</b>
    <br><%= f.radio_button 'style', 'custom5.css' %> <b>Gold-Brown</b>
    <br><%= f.radio_button 'style', 'custom6.css' %> <b>Grey</b>
  </div>
    <p><p><p><p>
  <div class="actions">
    <%= f.submit "Submit Changes" %>
  </div>
<% end %>


  